# Analyze the results from calculating background numbers

## July 15th

I performed a scan (~1000 times) scrambling the position of the source for a fixed SNR cut (starting with diffuse cut), and calculated the number of events that passed all cuts, then this result was averaged by the number of times the scrambling was done. We'd like to lower the SNR cut until we get a number of backgrounds similar to that obtained in the diffuse analysis.

In [1]:
import sys
sys.path.insert(0,"/users/PCON0003/cond0068/.local/lib/python3.7/")
sys.path.append("/users/PAS0654/osu8354/ARA_cvmfs/root_build/lib/") # go to parent dir
sys.path.append("/users/PCON0003/cond0068/.local/lib/python3.7/site-packages/")
import ROOT
import math
import numpy as np
from ROOT import TH1D,TF1, gRandom, gPad, gStyle
import matplotlib.pyplot as plt
from ROOT import TChain, TSelector, TTree
import os
import matplotlib.colors as mcolors
import scipy
from matplotlib.colors import LogNorm
import pandas as pd

Welcome to JupyROOT 6.18/04

In [2]:
#colNames = ["phi", 'theta', '20.6', '20.4', '20.2', '20.0', '19.8', '19.6']
# colNames = ["phi", 'theta', '19.5', '19', '18.5', '18', '17.5', '17']
colNames = ["phi", 'theta', '19', '18.9', '18.8', '18.7', '18.6', '18.5']

SNR = pd.read_csv("/users/PAS0654/osu8354/ARA_cvmfs/source/AraRoot/analysis/files/source_optimization/bkg_random_SNR_scan_fine.csv", names=colNames)
SNR

           phi   theta   19  18.9  18.8 18.7 18.6 18.5
0     -167.726  13.489  0.0   0.0   0.0    0    0    0
1      -30.626 -15.795  0.0   0.0   0.0    0    0    1
2        1.674 -66.721  0.0   0.0   0.0    0    0    0
3     -176.193 -80.337  0.0   0.0   0.0    0    0    0
4     -166.270   5.582  0.0   0.0   0.0    0    0    0
...        ...     ...  ...   ...   ...  ...  ...  ...
2650   -84.834 -66.384  0.0   0.0   0.0    0    0    0
2651   125.570 -54.243  0.0   0.0   0.0    1    1    1
2652  -132.425 -65.816  0.0   0.0   0.0    0    0    0
2653   -19.066  33.767  0.0   0.0   0.0    0    0    1
2654   147.987  85.277  0.0   0.0   0.0    0    0    0

[2655 rows x 8 columns]

In [11]:
bkg = SNR.phi.mean()
# bkg = bkg[]
# bkg = bkg.sort_index()
# bkg = pd.DataFrame(bkg, columns=["bkg"])
# bkg.reset_index(level=0, inplace=True)
# bkg["snr"] = bkg["index"]
bkg

TypeError: must be str, not int

In [ ]:
plt.axhline(5E-2, ls="--", c="C1", label="Diffuse $N_{bkg}$ SNR cut = 20.6")
# plt.axvline(20.6, ls="--", c="C2", label="Diffuse SNR cut")

plt.plot(bkg.snr, bkg.bkg)
plt.yscale('log')
plt.ylim(0.01,50)
plt.xlabel("SNR-intercept cut", fontsize=14)
plt.ylabel("$N_{bkg}$", fontsize=14)
plt.title("SNR scan",fontsize=18)
plt.legend()
plt.tight_layout()
plt.savefig("./plots/scan_yinterc_scrambled_source.png", dpi=150)